body{
    font-family: 'Bitter', serif;
    background-color: rgb(206, 247, 136);
    text-align: center;
    }
    
    .header {
        color: red;
        height: 20vh;
        
    }

    .blog {

    }

    #subheader {
        color: brown;
        height: 5vh;
        
        margin: 0px auto;
    }

    #Links {
        text-align: center;
    }

    #images {
        height: 600px;
        margin: 10vh;
    }

