body{
    font-family: 'Bitter', serif;
    background-color: rgb(206, 247, 136);
    
    text-align: center;
    }
    
    .header {
        color: red;
        background-color: black;
        padding: 3vh;

        
    }

    .blog {
        margin-left: 50px;
        margin-right: 50px;
        border: 20vh;
    }

    #subheader {
        color: brown;
        height: 5vh;
        margin-left: 50px;
        margin-right: 50px;
    }

    #Descriptions {
        margin-left: 50px;
        margin-right: 50px;
    }

    #Links {
        text-align: center;
    }

    #images {
       
    align-items: center;
        
    }

    
